<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增排班表管理')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pbb-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">工号：</label>
                <div class="col-sm-8">
                    <input name="gh" class="form-control" type="text" required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">年：</label>
                <div class="col-sm-8">
                    <!-- <input name="n" class="form-control" type="text" required="true"> -->
                    <select class="form-control" name="n">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">月：</label>
                <div class="col-sm-8">
                    <!-- <input name="y" class="form-control" type="text" required="true"> -->
                    <select class="form-control" name="y">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                        <option value="5">6</option>
                        <option value="6">7</option>
                        <option value="7">8</option>
                        <option value="8">9</option>
                        <option value="9">10</option>
                        <option value="10">11</option>
                        <option value="11">12</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">1号：</label>
                <div class="col-sm-8">
                    <input name="n1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">2号：</label>
                <div class="col-sm-8">
                    <input name="n2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">3号：</label>
                <div class="col-sm-8">
                    <input name="n3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">4号：</label>
                <div class="col-sm-8">
                    <input name="n4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">5号：</label>
                <div class="col-sm-8">
                    <input name="n5" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">6号：</label>
                <div class="col-sm-8">
                    <input name="n6" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">7号：</label>
                <div class="col-sm-8">
                    <input name="n7" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">8号：</label>
                <div class="col-sm-8">
                    <input name="n8" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">9号：</label>
                <div class="col-sm-8">
                    <input name="n9" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">10号：</label>
                <div class="col-sm-8">
                    <input name="n10" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">11号：</label>
                <div class="col-sm-8">
                    <input name="n11" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">12号：</label>
                <div class="col-sm-8">
                    <input name="n12" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">13号：</label>
                <div class="col-sm-8">
                    <input name="n13" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">14号：</label>
                <div class="col-sm-8">
                    <input name="n14" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">15号：</label>
                <div class="col-sm-8">
                    <input name="n15" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">16号：</label>
                <div class="col-sm-8">
                    <input name="n16" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">17号：</label>
                <div class="col-sm-8">
                    <input name="n17" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">18号：</label>
                <div class="col-sm-8">
                    <input name="n18" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">19号：</label>
                <div class="col-sm-8">
                    <input name="n19" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">20号：</label>
                <div class="col-sm-8">
                    <input name="n20" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">21号：</label>
                <div class="col-sm-8">
                    <input name="n21" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">22号：</label>
                <div class="col-sm-8">
                    <input name="n22" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">23号：</label>
                <div class="col-sm-8">
                    <input name="n23" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">24号：</label>
                <div class="col-sm-8">
                    <input name="n24" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">25号：</label>
                <div class="col-sm-8">
                    <input name="n25" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">26号：</label>
                <div class="col-sm-8">
                    <input name="n26" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">27号：</label>
                <div class="col-sm-8">
                    <input name="n27" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">28号：</label>
                <div class="col-sm-8">
                    <input name="n28" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">29号：</label>
                <div class="col-sm-8">
                    <input name="n29" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">30号：</label>
                <div class="col-sm-8">
                    <input name="n30" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">31号：</label>
                <div class="col-sm-8">
                    <input name="n31" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "attendance/pbb"
        $("#form-pbb-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-pbb-add').serialize());
            }
        }
    </script>
</body>
</html>
