<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.project.wx.mapper.CheckInDataMapper">

    <insert id="batchInsertCheckInDatas">
        insert into
        uf_dksj
        (
        sjid,
        gh,
        dkrq,
        dksj
        )
        values
        <foreach collection="list" item="checkData" separator=",">
            (
            #{checkData.sjid},
            #{checkData.gh},
            #{checkData.dkrq},
            #{checkData.dksj}
            )
        </foreach>
    </insert>
    
</mapper>