<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.project.csbd.mapper.JdMapper">

  <resultMap id="JdStockMap" type="com.tianyi.project.csbd.entity.dao.JdStockDAO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="data_time" jdbcType="VARCHAR" property="dataTime" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
    <result column="stock_num" jdbcType="INTEGER" property="stockNum" />
    <result column="preempt_num" jdbcType="INTEGER" property="preemptNum" />
    <result column="lock_num" jdbcType="INTEGER" property="lockNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>

  <insert id="insertProductInventory" parameterType="com.tianyi.project.csbd.entity.dao.JdStockDAO">
  insert into jd_stock
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
      id,
    </if>
    <if test="dataTime != null">
      data_time,
    </if>
    <if test="warehouseName != null">
      warehouse_name,
    </if>
    <if test="warehouseCode != null">
      warehouse_code,
    </if>
    <if test="sku != null">
      sku,
    </if>
    <if test="goodsCode != null">
      goods_code,
    </if>
    <if test="goodsName != null">
      goods_name,
    </if>
    <if test="level != null">
      level,
    </if>
    <if test="levelName != null">
      level_name,
    </if>
    <if test="stockNum != null">
      stock_num,
    </if>
    <if test="preemptNum != null">
      preempt_num,
    </if>
    <if test="lockNum != null">
      lock_num,
    </if>
      create_time,
    <if test="createBy != null">
      create_by,
    </if>
    <if test="updateBy != null">
      update_by,
    </if>
      update_time
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
      #{id,jdbcType=INTEGER},
    </if>
    <if test="dataTime != null">
      #{dataTime,jdbcType=VARCHAR},
    </if>
    <if test="warehouseName != null">
      #{warehouseName,jdbcType=VARCHAR},
    </if>
    <if test="warehouseCode != null">
      #{warehouseCode,jdbcType=VARCHAR},
    </if>
    <if test="sku != null">
      #{sku,jdbcType=VARCHAR},
    </if>
    <if test="goodsCode != null">
      #{goodsCode,jdbcType=VARCHAR},
    </if>
    <if test="goodsName != null">
      #{goodsName,jdbcType=VARCHAR},
    </if>
    <if test="level != null">
      #{level,jdbcType=INTEGER},
    </if>
    <if test="levelName != null">
      #{levelName,jdbcType=VARCHAR},
    </if>
    <if test="stockNum != null">
      #{stockNum,jdbcType=INTEGER},
    </if>
    <if test="preemptNum != null">
      #{preemptNum,jdbcType=INTEGER},
    </if>
    <if test="lockNum != null">
      #{lockNum,jdbcType=INTEGER},
    </if>
    now(),
    <if test="createBy != null">
      #{createBy,jdbcType=VARCHAR},
    </if>
    <if test="updateBy != null">
      #{updateBy,jdbcType=VARCHAR},
    </if>
    now()
  </trim>
</insert>

</mapper>