<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改手工单合单')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-manualSingle-edit" th:object="${amOrderItemLines}">
        <input name="interid" th:field="*{interid}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">变更后merchant_order_id：</label>
            <div class="col-sm-8">
                <input name="updateMerchantOrderId" th:field="*{updateMerchantOrderId}" class="form-control"
                       type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "finance/manualSingle";
    $("#form-manualSingle-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-manualSingle-edit').serialize());
        }
    }
</script>
</body>
</html>