<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.project.crawler.asin.mapper.ZhongtaiCrawlerAsinMapper">
    
    <resultMap type="ZhongtaiCrawlerAsin" id="ZhongtaiCrawlerAsinResult">
        <result property="id"    column="id"    />
        <result property="asin"    column="asin"    />
        <result property="weburl"    column="weburl"    />
        <result property="addDate"    column="add_date"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="flag"    column="flag"    />
        <result property="parentasin"    column="parentasin"    />
    </resultMap>

    <sql id="selectZhongtaiCrawlerAsinVo">
        select id, asin, weburl, add_date, modify_date, flag,parentasin from zt_crawler_asin
    </sql>

    <select id="selectZhongtaiCrawlerAsinList" parameterType="ZhongtaiCrawlerAsin" resultMap="ZhongtaiCrawlerAsinResult">
        <include refid="selectZhongtaiCrawlerAsinVo"/>
        <where>  
            <if test="asin != null  and asin != ''"> and asin = #{asin}</if>
            <if test="weburl != null  and weburl != ''"> and weburl = #{weburl}</if>
            <if test="params.beginAddDate != null and params.beginAddDate != '' and params.endAddDate != null and params.endAddDate != ''"> and add_date between #{params.beginAddDate} and #{params.endAddDate}</if>
            <if test="params.beginModifyDate != null and params.beginModifyDate != '' and params.endModifyDate != null and params.endModifyDate != ''"> and modify_date between #{params.beginModifyDate} and #{params.endModifyDate}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="parentasin != null  and parentasin != ''"> and parentasin like concat('%', #{parentasin}, '%')</if>
        </where>
    </select>
    
    <select id="selectZhongtaiCrawlerAsinById" parameterType="Long" resultMap="ZhongtaiCrawlerAsinResult">
        <include refid="selectZhongtaiCrawlerAsinVo"/>
        where id = #{id}
    </select>

    <select id="selectZhongtaiCrawlerAsinByAsin" parameterType="String" resultMap="ZhongtaiCrawlerAsinResult">
        <include refid="selectZhongtaiCrawlerAsinVo"/>
        where asin = #{asin}
    </select>
        
    <insert id="insertZhongtaiCrawlerAsin" parameterType="ZhongtaiCrawlerAsin" useGeneratedKeys="true" keyProperty="id">
        insert into zt_crawler_asin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="asin != null  and asin != ''">asin,</if>
            <if test="weburl != null  and weburl != ''">weburl,</if>
            <if test="addDate != null ">add_date,</if>
            <if test="modifyDate != null ">modify_date,</if>
            <if test="flag != null  and flag != ''">flag,</if>
            <if test="parentasin != null  and parentasin != ''">parentasin,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="asin != null  and asin != ''">#{asin},</if>
            <if test="weburl != null  and weburl != ''">#{weburl},</if>
            <if test="addDate != null ">#{addDate},</if>
            <if test="modifyDate != null ">#{modifyDate},</if>
            <if test="flag != null  and flag != ''">#{flag},</if>
            <if test="parentasin != null  and parentasin != ''">#{parentasin},</if>
         </trim>
    </insert>

    <update id="updateZhongtaiCrawlerAsin" parameterType="ZhongtaiCrawlerAsin">
        update zt_crawler_asin
        <trim prefix="SET" suffixOverrides=",">
            <if test="asin != null  and asin != ''">asin = #{asin},</if>
            <if test="weburl != null  and weburl != ''">weburl = #{weburl},</if>
            <if test="addDate != null ">add_date = #{addDate},</if>
            <if test="modifyDate != null ">modify_date = #{modifyDate},</if>
            <if test="flag != null  and flag != ''">flag = #{flag},</if>
            <if test="parentasin != null  and parentasin != ''">parentasin = #{parentasin},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhongtaiCrawlerAsinById" parameterType="Long">
        delete from zt_crawler_asin where id = #{id}
    </delete>

    <delete id="deleteZhongtaiCrawlerAsinByIds" parameterType="String">
        delete from zt_crawler_asin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>