<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('开票通知列表')"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>供应商：</p>
                            <input type="text" name="vendor"/>
                        </li>
                        <li>
                            <p>柜号：</p>
                            <input type="text" name="receiptnum"/>
                        </li>
                        <li class="select-time">
                            <p>接收日期：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginReceiptdate]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endReceiptdate]"/>
                        </li>
                        <li>
                            <p>状态：</p>
                            <select name="status" th:with="type=${@dict.getType('sys_invoice_status')}" id="status">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="supplychain:billinginform:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-warning" onclick="$.table.exportDetailExcel()"
               shiro:hasPermission="supplychain:billinginform:export">
                <i class="fa fa-download"></i> 导出明细
            </a>
            <a class="btn btn-danger" onclick="updateFlag()"
               shiro:hasPermission="supplychain:billinginform:updateFlag">
                <i class="fa fa-exchange"></i> 确认开票
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('supplychain:billinginform:edit')}]];
    var removeFlag = [[${@permission.hasPermi('supplychain:billinginform:remove')}]];
    var sys_invoice_status = [[${@dict.getType('sys_invoice_status')}]];
    var prefix = ctx + "supplychain/billinginform";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            exportDetailUrl: prefix + "/exportdetail",
            modalName: "开票通知",
            rememberSelected: true,
            /*showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,*/
            detailView: true,
            onExpandRow: function (index, row, $detail) {
                initChildTable(index, row, $detail);
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'transactionids',
                    visible: false
                },
                {
                    field: 'vendor',
                    title: '供应商'
                },
                {
                    field: 'receiptnum',
                    title: '柜号'
                },
                {
                    field: 'receiptdate',
                    title: '接收日期'
                },
                {
                    field: 'accountdate',
                    title: '到账日期'
                },
                {
                    field: 'receiptname',
                    title: '报关名称'
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'orderquantity',
                    title: '订单数量'
                },
                {
                    field: 'crossamount',
                    title: '含税总额'
                },
                {
                    field: 'amount',
                    title: '无税总额'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sys_invoice_status, value);
                    }
                }]
        };
        $.table.init(options);
    });

    initChildTable = function (index, row, $detail) {
        var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
        $(childTable).bootstrapTable({
            url: prefix + "/detail?transactionids=" + row.transactionids,
            method: 'post',
            sidePagination: "server",
            contentType: "application/x-www-form-urlencoded",
            columns: [{
                field: 'id',
                visible: false
            },
                {
                    field: 'vendor',
                    title: '供应商'
                },
                {
                    field: 'receiptnum',
                    title: '柜号'
                },
                {
                    field: 'receiptdate',
                    title: '接收日期'
                },
                {
                    field: 'accountdate',
                    title: '到账日期'
                },
                {
                    field: 'sku',
                    title: 'SKU'
                },
                {
                    field: 'receiptname',
                    title: '报关名称'
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'orderquantity',
                    title: '订单数量'
                },
                {
                    field: 'rate',
                    title: '含税单价'
                },
                {
                    field: 'price',
                    title: '无税单价'
                },
                {
                    field: 'crossamount',
                    title: '含税总额'
                },
                {
                    field: 'amount',
                    title: '无税总额'
                },
                {
                    field: 'status',
                    title: '状态'
                }]
        });
    };

    function updateFlag() {
        var transactionids = $.table.selectColumns("transactionids");
        if (transactionids.length == 0) {
            alert("请勾选数据!");
        } else {
            var str = "";
            for (var i = 0; i < transactionids.length; i++) {
                var transactionid = transactionids[i].split(",");
                for (var j = 0; j < transactionid.length; j++) {
                    str = str + "'" + transactionid[j] + "',";
                }
            }
            str = str.substring(0, str.length - 1);
            console.log("str:" + str);
            $.ajax({
                url: "/ZhongTai/supplychain/billinginform/updateFlag",
                type: "post",
                data: {
                    transactionids: str
                },
                dataType: "json",
                success: function (msg) {
                    var json = eval('(' + JSON.stringify(msg) + ')');
                    var code = json.code;
                    console.log(msg);
                    console.log(json);
                    console.log(code);
                    if (code == 200) {
                        alert("数据已流转!");
                        $.table.refresh();
                    } else {
                        alert("流转失败，请联系管理员!");
                    }
                },
                error: function (err) {
                    alert("流转失败，请联系管理员!");
                }
            })
        }
    }
</script>
</body>
</html>